NEXT_PUBLIC_APP_MODE=
IS_PRODUCTION=false

COVALENT_API_KEY=

POAP_API_KEY=

NEXT_PUBLIC_WALLETCONNECT_ID=

# use port 5432 for migrations and pulls
# use port 6543 otherwise
# run 'yarn prisma db push' to sync local schema with db
DATABASE_URL = 

SENDGRID_API_KEY=
SENDGRID_EMAIL=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=


